/* src/components/Projects.module.css */
.projects {
    background-color: #eef; 
}

.projectGrid {
   display: grid;

   grid-template-columns: 1fr; 
   gap: 2rem;
}


@media (min-width: 600px) {
   .projectGrid {
       grid-template-columns: repeat(2, 1fr); 
   }
}


@media (min-width: 900px) {
   .projectGrid {
       grid-template-columns: repeat(3, 1fr); 
   }
}